html{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* div{
    border: 2px outset lightslategray;   */
}
}
body{
    max-width: max-content;
    margin: auto;
}
button{
    border:none;
    background:white;
}
span{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: white;
    width:424px;
    height:625px;
    margin:0 auto;
}
.header{
    display:flex;
    width:100%;
    margin-bottom: 22px;
    margin-top:50px;
    font-size: 15px;
}
i{
    float:left;
}
.threedotbutton{
    float:right;
    margin-bottom:-20px;
    margin-right: 10px;
    margin-top:-2px;
}
.divclass1{
    width:100%;
    margin-top:15px;
    margin-left:10px;
}
.divclass2{
   
}
.divclass3{
    padding:15px;
    font-size: 12px;
}
.subbuttons{
    display:inline-block;
    width:393px;
    margin-left: -5px;
}
.bookmark{
    float:right;
}
.name{
    font-size: 13px;
    margin-left:15px;
    position:absolute;
}

/* CENTER ALIGN THE IMAGE */